<!DOCTYPE html>
<html>
  <head>
	  <title>Homepage | Bryan Pearson II</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
body
{
	background-color: #c9f1ff;
}
</style>
  </head>
  <body>
<div class="container">
	<h1 class="display-4 mb-0"><b>Bryan Pearson II</b></h1>
	<div >
		<div class="img-container"><img width="15%" src="headshot.jpg" style="margin-left: 25px;" class="float-right" alt="headshot" /><br/><br/></div>
		<p>Welcome to my webpage! I am currently working on my Ph.D in Computer Science at the <a href="https://www.ucf.edu/" target="blank">University of Central Florida</a>. I joined the Department of Computer Science in Fall 2018. My advisor is <a href="https://www.cs.ucf.edu/~xinwenfu/" target="blank">Dr. Xinwen Fu</a>. I am primarily interested in IoT security and forensics.<br/><br/>

		Prior to UCF, I received my Bachelor of Science from <a href="https://www.stetson.edu/home/" target="blank">Stetson University</a> in May 2018. My advisor was <a href="https://www.stetson.edu/other/faculty/daniel-plante.php" target="blank">Dr. Daniel Plante</a>.<br/><br/>
		
	You can check out some of my current and former research projects, my CV, and contact information through this webpage.</p></div>

	<div>
		<h4>Basic Information</h4>
	<ul>
	<li>Email: <a href="mailto:bpearson@knights.ucf.edu">bpearson@knights.ucf.edu</a></li>
	<li>Advisor: <a href="https://www.cs.ucf.edu/~xinwenfu/" target="blank">Dr. Xinwen Fu</a></li>
	<li><a href="/Bryan_Pearson_CV.pdf" target="blank">Curriculum Vitae</a></li>
	<li><a href="https://dblp.uni-trier.de/pers/hd/p/Pearson:Bryan" target="blank">DBLP</a></li>
	<li><a href="https://www.linkedin.com/in/bryan-pearson-454296106/" target="blank">LinkedIn</a></li>
	<li><a href="https://github.com/PBearson/" target="blank">Github</a></li>
	</ul>

	<h4>News</h4>
	<ul>
		<li> Our paper, "On Misconception of Hardware and Cost in IoT Security and Privacy", was accepted to IEEE ICC 2019! We will be traveling to Shanghai, China in May to present the work.
	</ul>

	<h4>Research</h4>
	<ol>
		<li>B. Pearson, L. Luo, Y. Zhang, R. Dey, Z. Ling, M. Bassiouni, and X. Fu. On Misconception of Hardware and Cost in IoT Security and Privacy. <em>In proceedings of IEEE International Conference on Communications (ICC)</em>, Shanghai, China, May 2019.</li>
		<li> L. Luo, Y. Zhang, B. Pearson, Z. Ling, H. Yu, and X. Fu. On the Security and Data Integrity of Low-Cost Sensor Networks for Air Quality Monitoring. <em>Sensors (Basel).</em> Dec. 2018.</li>
		<li>N. Domingo, B. Pearson, and Y. Jin. Exploitations of Wireless Interfaces Via Network Scanning. <em>In proceedings of IEEE International Conference on Computing, Networking and Communications (ICNC)</em>, Santa Clara, CA, 2017.</li>
	</ol>
	</div>

	<br/><br/>
	<h6><small>This website is not a publication of any institution or organization. The author of the website is solely responsible for its content.</small></h6>
</div>
  </body>
</html>
